* {
    font-family: 'Segoe UI';
    user-select: none;
    text-align: center;
}

#startChecking img{
    width: 1.0rem;
    height: 1.0rem;
}

#startChecking{
    font-size: 1.4rem;
}

#checkResult{
    font-size: 2.8rem;
}